<!doctype html>
<html>
   <body>
   
      <table border = 1>
         {% for key, value in result.iteritems() %}
         
            <tr>
               <th> {{ key }} </th>
               <td> {{ value }} </td>
            </tr>
            
         {% endfor %}
      </table>

      <form method="POST" action="">
          <div class="row">
            <div class="input-field col s12">
                <input type="text" name="id" class="form-control" value={{request.form.id}}>
              <label for="id">id</label>
            </div>
          </div>
          
            <input type="submit" class="button button4" value"submit">
            <center><a href="/register">register</a></center>
        </form>
      
   </body>
</html>