<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	</head>
	<style type="text/css">
		.divLeft {
		width:500px;
		display:block;
		float: left;
		}
		.divRight {
		width:500px;
		display:block;
		float: right;
		}
		.btn{
		background-color: gray
		}
		.btn:visited{
		background-color: gray
		}
		.btn:hover {
		background-color: gray
		}
		.btn:active{
		background-color: gray;
		}
		.btn-group button {
		background-color: #000; /* Green background */
		border: 1px solid #000; /* Green border */
		color: white; /* White text */
		padding: 10px 24px; /* Some padding */
		cursor: pointer; /* Pointer/hand icon */
		float: left; /* Float the buttons side by side */
		}
		/* Clear floats (clearfix hack) */
		.btn-group:after {
		content: "";
		clear: both;
		display: table;
		}
		.btn-group button:not(:last-child) {
		border-right: none; /* Prevent double borders */
		}
		/* Add a background color on hover */
		.btn-group button:hover {
		background-color: #3e8e41;
		}

		::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			color: red;
			opacity: 1; /* Firefox */
		}

		:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color: red;
		}

		::-ms-input-placeholder { /* Microsoft Edge */
			color: red;
		}
		input.datepicker {
			text-align: center !important;
		}
	</style>
	<body>
		<center>
			<div class="datepicker-container"  style="width: 200px" >
				<form action="/voo" method="post">
					<input  placeholder="" id="thedatefield" type="text" class="datepicker" name="date" placeholder="">
					<input id="id" name="offset" type="hidden" value="1">
					<input type="hidden" id="img_status"       name="img_status"    value="0">
					<input type="hidden" id="retake_status"    name="retake_status" value="0">
					<input type="submit" class="waves-effect waves-light btn">
				</form>
			</div>
			<div class="btn-group">
			<p>page: <a id="page_view"><a>/</a><a id="page_max"></a></p>
		    </div>
		</center>
		</br>
		<script type="text/javascript">
			// foo = 0;
			// coo = 0;
		</script>
		
{% for row in data %}
		<script type="text/javascript">
		    var soo = '';
			soo = "{{status}}";
			coo = "{{row['date']}}";
			foo = "{{counter}}";
			foo = Number(foo);
			uoo = "{{row['owner_id']}}";
			boo = "{{row['owner_id']}}";
			page_max = "{{row['thecount']}}";

			driver_name = "{{row['driver']}}";
			console.log(driver_name);
			the_owner   = "{{row['owner_name']}}";
			console.log(the_owner);
			tk_num      = "{{row['ticket_num']}}";
			console.log(tk_num);
			com_name    = "{{row['company_name']}}";
			console.log(com_name);
			curr_date= "{{row['date']}}";
			console.log(curr_date);
			cellphone   = "{{row['cell_phone']}}";
			console.log(cellphone);
			owner_id   = "{{row['owner_id']}}";
			console.log(owner_id);

			
		</script>
		<span class="divLeft">
			<img class="materialboxed" width="500" height="530" src="http://aggdirect.com/task_proof_images/{{row['proof_picture']}}">
			<ul class="collection">
				<li class="collection-item">
					<div class="btn-group">
						<form method="post" id="image_form"> 
							<input type="hidden" id="back-text-1"      name="date">
							<input type="hidden" id="back-offset-1"    name="offset">
							<input type="hidden" id="img_status"       name="img_status"    value="{{counter}}">
							<input type="hidden" id="retake_status"    name="retake_status" value="0">
							<input type="hidden" id="owner_id"         name="owner_id" >
							<input type="hidden" id="driver_name"      name="driver_name" >
							<input type="hidden" id="the_owner"        name="the_owner" >
							<input type="hidden" id="tk_num"           name="tk_num" >
							<input type="hidden" id="com_name"         name="com_name" >
							<input type="hidden" id="curr_date"        name="curr_date" >
							<input type="hidden" id="cellphone"        name="cellphone" >
							<button type="button" id="Vbutton" type="submit">verify image</button>
						</form>
						<form action="/voo" method="post">
							<input type="hidden" id="next-text-1"      name="date">
							<input type="hidden" id="next-offset-1"    name="offset">
							<input type="hidden" id="retake_status"    name="retake_status" value="{{counter}}">
							<input type="hidden" id="img_status"       name="img_status"    value="0">
							<button type="button" id="Rbutton" type="submit">retake request</button>
						</form>
						
					</div>
				</li>
			</ul>
			
		</span>
		<span class="divRight">
			<ul class="collection">
			<li class="collection-item avatar">
				<i class="material-icons circle">airline_seat_recline_normal</i>
				<a href="#!" class="secondary-content"><i class="material-icons"></i></a>
				<span class="title">Driver:</span>
				<p>
					{{row['driver']}} <br>
					{{row['cell_phone']}}
					
					
				</p>
				<a href="#!" class="secondary-content"><i class="material-icons"></i></a>
			</li>
			<li class="collection-item avatar">
				<i class="material-icons circle">accessibility</i>
				<span class="title">Owner:</span>
				<p>
					{{row['owner_name']}} <br>
					{{row['owner_num']}}  <br>
					{{row['company_name']}}
				</p>
				<a href="#!" class="secondary-content"><i class="material-icons"></i></a>
			</li>
			<li class="collection-item avatar">
				<i class="material-icons circle ">receipt</i>
				<span class="title">General Info:</span><br>
				<p>Ticket Number:{{row['ticket_num']}}</p>
				<p>Customer Name:{{row['customer_name']}}</p>
				<p>Quanty:{{row['qty']}}:type:{{row['unit_pay']}}</p> 
				<a href="#!" class="secondary-content"><i class="material-icons"></i></a>
			</li>
			<li class="collection-item avatar">
				<i class="material-icons circle ">business</i>
				<span class="title">Job Code:</span>
				<p>
					{{row['job_code']}}
				</p>
				<a href="#!" class="secondary-content"><i class="material-icons"></i></a>
			</li>

			<li class="collection-item avatar">
				<i class="material-icons circle ">business</i>
				<span class="title">Delivery/Pickup:</span>
				<p>Pickup:   {{row['pick_address']}}</p>
				<p>Delivery: {{row['delivery_address']}}</p>	
				
				<a href="#!" class="secondary-content"><i class="material-icons"></i></a>
			</li>
				<li class="collection-item">
					<div class="btn-group">
						<form action="/voo" method="post">
							<input type="hidden" id="back-text"        name="date">
							<input type="hidden" id="back-offset"      name="offset">
							<input type="hidden" id="img_status"       name="img_status"    value="0">
        					<input type="hidden" id="retake_status"    name="retake_status" value="0">
							<button type="submit">back</button>
						</form>
						<form action="/voo" method="post" id="next_form">
							<input type="hidden"  id="next-text"        name="date">
							<input type="hidden"  id="next-offset"      name="offset">
							<input type="hidden"  id="img_status"       name="img_status"    value="0">
         					<input type="hidden"  id="retake_status"    name="retake_status" value="0">
							<button type="submit" id="nextPageBtn">next</button>
						</form>
					</div>
				</li>
		</span>
{% endfor %}

		<!--Import jQuery before materialize.js-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
		<script text="text/javascript">


		// document.getElementById("Vbutton").disabled = false;
		// document.getElementById("Rbutton").disabled = false;
		

			function clickVerify() {
				console.log("CLICK FUKCING VERFIY");
				// var date         =$('#back-text-1').val()
				// var offset       =$('#back-offset-1').val()
				// var img_status   =$('#img_status').val()
				// var retake_status=$('#retake_status').val()
				// var owner_id     =$('#confirmed_image').val()
				// var driver_name  =$('#driver_name').val()
				// var the_owner    =$('#the_owner').val()
				// var tk_num       =$('#tk_num').val()
				// var com_name     =$('#com_name').val()
				// var curr_date    =$('#current_date').val()
				// var cellphone    =$('#cellphone').val()
				console.log("IMG FORM SERLIZ: " + $('#image_form').serialize());
				$.ajax({
					url: '/verify',
					data: $('#image_form').serialize(),
					type: 'POST',
					success: function(response) {
						$("#nextPageBtn").click();
						//I need to some how be able to populate my table with the returned list called jobs;
					},
					error: function(error) {}
				});
			}

			$( document ).ready(function() {
				soo = "{{status}}";

				if (soo == 1) {
					$("#Vbutton").hide();
					$("#Rbutton").hide();
				}	

				$("#Vbutton").click(function() {
					clickVerify();
					
				})

				var socket = io.connect('http://' + document.domain + ':' + location.port);
				
				//var socket = io.connect('http://127.0.0.1:5000');
				var socket = io.connect('http://' + document.domain + ':' + location.port);
                 socket.on('connect',function() {
                    socket.send('testing');
                 
                 });
                 socket.on('message', function(msg) {
                    Materialize.toast(msg, 1000)
                 });

				 socket.on('image_request', function(msg) {
                    Materialize.toast(msg, 1000)
                 });

				

				$('.datepicker').pickadate({
					selectMonths: true, // Creates a dropdown to control month
					selectYears: 15, // Creates a dropdown of 15 years to control year,
					format: 'yyyy-mm-dd',
					closeOnSelect: false // Close upon selecting a date,
				});

				

				
				
			if (typeof foo != 'undefined') {
				$('#page_view').html(foo);
				$('#page_max').html(page_max);

				document.getElementById('back-text').value = coo;
				document.getElementById('back-text').placeholder = coo;
				document.getElementById('next-text').value = coo;
				document.getElementById('next-text').placeholder = coo;
				//--------------------------------------------------------
				document.getElementById('back-text-1').value = coo;
				document.getElementById('back-text-1').placeholder = coo;
				document.getElementById('next-text-1').value = coo;
				document.getElementById('next-text-1').placeholder = coo;

				document.getElementById('back-offset-1').value = ((foo + 1) > page_max - 1) ? page_max - 1 : foo + 1;
				document.getElementById('next-offset-1').value = ((foo + 1) > page_max - 1) ? page_max - 1 : foo + 1;
				//--------------------------------------------------------

				document.getElementById('back-offset').value = ((foo - 1) < 0) ? 0 : foo - 1;
				document.getElementById('next-offset').value = ((foo + 1) > page_max - 1) ? page_max - 1 : foo + 1;
			
				document.getElementById("thedatefield").placeholder = coo;

				// document.getElementById('confirmed_image').value = boo;
				// document.getElementById('retake_image').value    = uoo;
				//--------------------------------------------------------
				// if (joo == 1) {
				// 	$("#Vbutton").disable();
				// 	$("#Rbutton").disable();
				// } else if (joo == 0) {
				// 	$("#Vbutton").enable();
				// 	$("#Rbutton").enable();
				// }

				
				//------------confirmed image variables-----------------///
				document.getElementById('driver_name').value    = driver_name;
				document.getElementById('the_owner').value      = the_owner;
				console.log("bottom shit: " + the_owner + " | " + $("#the_owner").val());
				document.getElementById('tk_num').value         = tk_num;
				document.getElementById('com_name').value       = com_name;
				document.getElementById('curr_date').value      = curr_date;
				document.getElementById('cellphone').value      = cellphone;
				document.getElementById('owner_id').value       = owner_id;
				//------------count variable-----------------///
			}	
			 
		
						
			
			});
			
		</script>
	</body>
</html>