<!DOCTYPE html>
<html>
   <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script src="{{ url_for('static', filename='js/app.js') }}"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   </head>
   <title>Cosyne - Business </title>
   <body>
      <style>
         body {
         background-repeat: no-repeat;
         background-size: 100% 100%;
         opacity: 1.0;
         }
         a {
         color: #fff ;
         }
         ::-webkit-input-placeholder {
         text-align: center;
         }
      </style>
      <script type="text/javascript">
      
      </script>

    <center>
    <form action="/voo" method="post" role="form">
    <div class="datepicker-container"  style="width: 200px" >
    <input type="text" class="datepicker" name="date" id="date">
    <button class="waves-effect waves-light btn" type="button">go</button>
    </div>
    </center>


      
      
      <script>
         $(document).ready(function() {
            $('.datepicker').pickadate({
                  selectMonths: true, // Creates a dropdown to control month
                  selectYears: 15, // Creates a dropdown of 15 years to control year,
                  format: 'yyyy-mm-dd',
                  closeOnSelect: false // Close upon selecting a date,
              });

         $('select').material_select();
         $(".button-collapse").sideNav();
         });
      </script>
   </body>
</html>
